<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/product/{{model.item.itemId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left blue">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Product Review
            </a>
            <div ng-if="model.logAlert">
                <p class="navbar-text pull-right">
                    <a ng-click="model.logout()" class="navbar-link">
                  <span class="glyphicon glyphicon-off green">
                  </span>
                    </a>
                </p>
            </div>
            <div ng-if="!model.logAlert">
                <p class="navbar-text pull-right">
                    <a ng-click="model.logout()" class="navbar-link">
                  <span class="glyphicon glyphicon-off red">
                  </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.alert" class="alert alert-warning">
        <div class="login">
            <a class="btn btn-success btn-block"
               href="#/login">Sign In</a>
        </div>
        <div class="login">
            <a class="btn btn-success btn-block"
               href="#/register">Sign Up</a>
        </div>
    </div>
    <h4>{{model.item.name}}</h4>
    <div class="col-xs-12 col-sm-12 col-md-3">
        <div ng-if="model.item.numReviews">
            <i class="glyphicon glyphicon-user"></i><span>{{model.item.numReviews}}</span>
            <img img-responsive src="{{item.customerRatingImage}}" alt="No ratings available" />
        </div>
    </div>
    <span>
        <div class="row review-row">
            <div class="col-md-6">
                <!--<div class="widget-area no-padding blank">-->
                    <div class="status-upload">
                        <form>
                            <input ng-model="model.reviewTitle"
                                   type="text" class="form-review form-control btn-block" id="reviewTitle" placeholder="Title"/>
                            <textarea ng-model="model.review" id="review-text-area" class="form-review form-control btn-block" placeholder="Type a new review..." ></textarea>
                            <button ng-click="model.addReview(model.review,model.reviewTitle)" id="review-button"
                                    type="submit" class="form-review form-control btn btn-success btn-block"><i class="fa fa-share"></i> Add..</button>
                        </form>
                    </div>
                <!--</div>-->
            </div>
        </div>
    </span>
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <span class="label label-info pull-right">
                    {{model.reviewsCount}}</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="review in model.items">
                        <div class="row">
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <h4><strong>{{review.productReviewTitle}}</strong></h4>
                                    By: <a ng-if="model.userId===review._user" href="#/user"><strong>{{review.username}}  </strong></a>on {{review.dateCreated}}</strong></h5>
                                    <!--<h5 class="user-info"><strong>By: {{review.username}} on {{review.dateCreated}}</strong></h5>-->
                                </div>
                                <div class="comment-text">
                                    {{review.productReviews}}
                                </div>
                                <!--<div class="action">-->
                                    <!--&lt;!&ndash;<button type="button" class="btn btn-primary btn-xs" title="Edit">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<span class="glyphicon glyphicon-pencil"></span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                    <!--<a ng-click="model.updateReview(review._id,review.productReviews,review.reviewTitle)" class="btn btn-success btn-xs pull-right" title="Edit">-->
                                        <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                    <!--</a>-->
                                    <!--<a ng-click="model.deleteReview(review._id)" class="btn btn-danger btn-xs pull-right" title="Delete">-->
                                        <!--<span class="glyphicon glyphicon-trash"></span>-->
                                    <!--</a>-->
                                <!--</div>-->
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="{{model.item.productUrl}}" class="navbar-link">
                  <span class="glyphicon glyphicon-new-window blue">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/" class="navbar-link">
                  <span class="glyphicon glyphicon-user blue">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>