<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/" class="navbar-link">
                  <span class="glyphicon glyphicon-home">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Best Shop
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)" class="navbar-link">
                  <span class="glyphicon glyphicon-shopping-cart">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<!--<div class="container product-search">-->
    <!--<div ng-if="model.error" class="alert alert-danger">-->
        <!--{{model.error}}-->
    <!--</div>-->
    <!--<div class="input-group">-->
        <!--<input ng-model="model.searchText" type="text" class="form-control" placeholder="Start Shopping..">-->
    <!--<span class="input-group-btn">-->
        <!--<a ng-click="model.searchProducts(model.searchText)" class="btn btn-default" type="button">-->
            <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--</a>-->
    <!--</span>-->
    <!--</div>-->
    <!--<div class="row">-->
        <!--<a href="#/product/{{item.itemId}}" class="col-xs-6 thumbnail" ng-repeat="item in model.items">-->
            <!--<span>-->
            <!--<div style="width:100%">{{item.name}}</div>-->
            <!--<div class="btn btn-primary">$ {{item.salePrice}}</div>-->
                <!--</span>-->
            <!--<img ng-src="{{item.thumbnailImage}}"/>-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->
<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div class="input-group">
        <input ng-model="model.searchText" type="text" class="form-control" placeholder="Start Shopping..">
    <span class="input-group-btn">
        <a ng-click="model.searchProducts(model.searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
    </div>
    <hgroup ng-if="model.search" class="mb20">
        <h5>Search Results</h5>
        <h6 class="lead"><strong class="text-danger">{{model.totalResults}}</strong> results were found for the search for <strong class="text-danger">{{model.term}}</strong></h6>
    </hgroup>
    <div class="list-group search" ng-repeat= "item in model.items">
        <section class="col-xs-12 col-sm-6 col-md-12">
            <article class="search-result row">
                <div class="col-xs-12 col-sm-12 col-md-6 excerpet">
                    <h3><a href="#/product/{{item.itemId}}" title="{{item.name}}">{{item.name}}</a></h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <a href="#/product/{{item.itemId}}" title="{{item.name}}" class="thumbnail">
                        <img img-responsive src="{{item.thumbnailImage}}" alt="Image not available!" /></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <ul class="meta-search">
                        <li><i class="glyphicon glyphicon-usd"></i><span>Sale Price: {{item.salePrice}}</span></li>
                        <li><i class="glyphicon glyphicon-usd"></i><span>Shipping Rate: {{item.standardShipRate}}</span></li>
                        <li><i class="fa fa-clock-o"></i><span>Stock: {{item.stock}}</span></li>
                        <img img-responsive src="{{item.customerRatingImage}}" alt="Reviews not available" />
                    </ul>
                </div>
                <span class="clearfix borda"></span>
                <hr class="section-divide"/>
            </article>
        </section>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>