<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/" class="navbar-link">
                  <span class="glyphicon glyphicon-home blue">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Product
            </a>
            <div ng-if="model.logAlert">
                <p class="navbar-text pull-right">
                    <a ng-click="model.logout()" class="navbar-link">
                  <span class="glyphicon glyphicon-off green">
                  </span>
                    </a>
                </p>
            </div>
            <div ng-if="!model.logAlert">
                <p class="navbar-text pull-right">
                    <a ng-click="model.logout()" class="navbar-link">
                  <span class="glyphicon glyphicon-off red">
                  </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div  ng-if="model.products">
        <div class="list-group search" ng-repeat= "item in model.products">
            <section class="col-xs-12 col-sm-6 col-md-12">
                <article class="search-result row">
                    <div class="col-xs-12 col-sm-12 col-md-6 excerpet">
                        <h3><a href="#/product/{{item.itemId}}" title="{{item.name}}">{{item.name}}</a></h3>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <a href="#/product/{{item.itemId}}" title="{{item.name}}" class="thumbnail">
                            <img img-responsive src="{{item.thumbnailImage}}" alt="Image not available!"
                                 onerror="this.onerror=null;this.src='../project/images/itemImage.png';" />
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-3">
                        <ul class="meta-search">
                            <li>Sale Price: <i class="glyphicon glyphicon-usd"></i><span>{{item.salePrice}}</span></li>
                            <li>Shipping Rate: <i class="glyphicon glyphicon-usd"></i><span>{{item.standardShipRate}}</span></li>
                            <li>Stock: <i class="fa fa-clock-o"></i><span>{{item.stock}}</span></li>
                            <img img-responsive src="{{item.customerRatingImage}}" alt="Reviews not available"/>
                        </ul>
                    </div>
                    <span class="clearfix borda"></span>
                    <hr class="section-divide"/>
                </article>
            </section>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="{{model.item.productUrl}}" class="navbar-link">
                  <span class="glyphicon glyphicon-new-window blue">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user" class="navbar-link">
                  <span class="glyphicon glyphicon-user blue">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>