<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/product/{{model.item.itemId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Product Review
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.logout()" class="navbar-link">
                  <span class="glyphicon glyphicon-off">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.alert" class="alert alert-warning">
        <div class="login">
            <a class="btn btn-success btn-block"
               href="#/login">Sign In</a>
        </div>
        <div class="login">
            <a class="btn btn-success btn-block"
               href="#/register">Sign Up</a>
        </div>
    </div>
    <h4>Product: {{model.item.name}}</h4>
    <div class="col-xs-12 col-sm-12 col-md-3">
        <div ng-if="model.item.numReviews">
            <i class="glyphicon glyphicon-user"></i><span>{{model.item.numReviews}}</span>
            <img img-responsive src="{{item.customerRatingImage}}" alt="No reviews available to view" />
        </div>
    </div>
    <span>
        <div class="row">
        <div class="col-md-6">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form>
                        <textarea ng-model="model.review" id="review-text-area" class="review-text" placeholder="Type a new review..." ></textarea>
                        <button ng-click="model.addReview(model.review)" id="review-button"
                                type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <div class=amazing-reviews>
            <blockquote>
                <header>
                    <strong>Ullamco laboris!</strong>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </blockquote>
        </div>
    </span>
    {{model.item}}
    <div class="list-group search" ng-repeat= "review in model.items">
        <div class=amazing-reviews>
            <blockquote>
            <a href="#/user/{{model.userId}}"><strong>{{review._user}}</strong></a>
            <p>{{review.productReviews}}</p>
            </blockquote>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="{{model.item.productUrl}}" class="navbar-link">
                  <span class="glyphicon glyphicon-new-window">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>