<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/product/{{model.item.itemId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left blue">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Product Review
            </a>
            <div ng-if="model.logAlert">
                <p class="navbar-text pull-right">
                    <a ng-click="model.logout()" class="navbar-link">
                  <span class="glyphicon glyphicon-off green">
                  </span>
                    </a>
                </p>
            </div>
            <div ng-if="!model.logAlert">
                <p class="navbar-text pull-right">
                    <a ng-click="model.logout()" class="navbar-link">
                  <span class="glyphicon glyphicon-off red">
                  </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.alert" class="alert alert-warning">
        <div class="login">
            <a class="btn btn-success btn-block"
               href="#/login">Sign In</a>
        </div>
        <div class="login">
            <a class="btn btn-success btn-block"
               href="#/register">Sign Up</a>
        </div>
    </div>
    <h4>{{model.item.name}}</h4>
    <div class="col-xs-12 col-sm-12 col-md-3">
        <div ng-if="model.item.numReviews">
            <i class="glyphicon glyphicon-user"></i><span>{{model.item.numReviews}}</span>
            <img img-responsive src="{{item.customerRatingImage}}" alt="No ratings available" />
        </div>
    </div>
    <span>
        <div class="row review-row">
            <div class="col-md-6">
                <!--<div class="widget-area no-padding blank">-->
                    <div class="status-upload">
                        <form>
                            <label for="username">Username</label>
                            <input ng-model="model.reviewTitle"
                                   type="text" class="form-control" id="username" placeholder="RashmiDwaraka" readonly/>
                            <textarea ng-model="model.review" id="review-text-area" class="review-text" placeholder="Type a new review..." ></textarea>
                            <button ng-click="model.addReview(model.review,model.reviewTitle)" id="review-button"
                                    type="submit" class="btn btn-success btn-block"><i class="fa fa-share"></i> Add..</button>
                        </form>
                    </div>
                <!--</div>-->
            </div>
        </div>
    </span>
    <div class="list-group search" ng-repeat= "review in model.items">
        <a class=amazing-reviews>
            <!--<blockquote>-->
            <a ng-if="model.userId===review._user" href="#/user"><strong>{{review.username}}  </strong>
                <p class="pull-right">
                <a href="model.deleteReview()" class="navbar-link">
                    <span class="glyphicon glyphicon-trash red del-review"></span>
                </a>
            </p>
        </a>
        <a ng-if="model.userId!==review._user" href="#/user/{{model.userId}}"><strong>{{review.username}}</strong></a>
        <!--<a href="#/user/{{model.userId}}"><strong>{{review.username}}</strong></a>-->
        <p>{{review.productReviews}}</p>
        <!--</blockquote>-->
</div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="{{model.item.productUrl}}" class="navbar-link">
                  <span class="glyphicon glyphicon-new-window blue">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/" class="navbar-link">
                  <span class="glyphicon glyphicon-user blue">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>