<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/product/search" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Product
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.logout()" class="navbar-link">
                  <span class="glyphicon glyphicon-off">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div class="product-detail">
        <span>
            <div class="product-name">{{model.item.name}}</div>
            <div class="btn btn-default btn-block price">Sale Price ${{model.item.salePrice}}</div>
                </span>
        <img class="price" ng-src="{{model.item.customerRatingImage}}"/>
        <img class="price" ng-src="{{model.item.mediumImage}}"
             onerror="this.onerror=null;this.src='../project/images/itemImage.png';" />
    </div>
    <a href="#/product/{{model.item.itemId}}/review/" class="btn btn-block btn-primary">Customer Reviews</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="{{model.item.productUrl}}" class="navbar-link">
                  <span class="glyphicon glyphicon-new-window">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>