<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/" class="navbar-link">
                  <span class="glyphicon glyphicon-home">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Profile
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.user)" class="navbar-link">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if="model.error" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Failed!</strong> Your profile could not be updated.
    </div>

    <div ng-if="model.success" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> Your profile was saved.
    </div>
<div class="jumbotron">
    <div  ng-if="model.user.pic" class="media-body media-middle">
        <a href="{{model.user.pic}}">
            <img class="media-object" src="{{model.user.pic}}" alt="Profile Picture">
        </a>
    </div>
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text" class="form-control" id="username" placeholder="RashmiDwaraka" readonly>
            <!--value="{{model.user.username}}"-->
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="rashmidwaraka@gmail.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text" class="form-control" id="first-name" placeholder="Rashmi">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text" class="form-control" id="last-name" placeholder="Dwaraka">
        </div>
    </form>

    <form action="/api/uploadPic"  method="post" enctype="multipart/form-data">
        <input  name="myFile" type="file" class="form-control"/>
        <input  name="userId" value="{{model.id}}" style="display: none"/>
        <button type="submit" class="btn btn-block btn-primary upload-image">Upload Image</button>
    </form>
    <!--<a class="btn btn-primary btn-block"-->
       <!--href="#/user/{{model.user._id}}/website">Websites</a>-->
    <!--<a class="btn btn-danger  btn-block"-->
       <!--href="#/login">Logout</a>-->
    <a ng-click="model.logout()" class="btn btn-danger  btn-block">Logout</a>
    <a ng-click="model.unregister()" class="btn btn-danger btn-block">Unregister</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-left">
                <a href="#/user/search" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span><span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.id}}/product" class="navbar-link">
                  <span class="glyphicon glyphicon-cart">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
