<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/" class="navbar-link">
                  <span class="glyphicon glyphicon-home">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Profile
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-sm">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">
                        <!--<img class="media-object" src="{{model.user.pic}}">-->
                        <img class="media-object img-circle" src="{{model.user.pic}}" alt="Profile Picture"
                        onError="this.onerror=null;this.src='./images/profilePic.png';">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{model.user.username}} - {{model.user.firstName}} {{model.user.lastName}}</h4>
                        <p><span class="label label-info">{{model.user.followers.length}} followers</span>
                            <span class="label label-warning">{{model.user.followedBy.length}} following</span>
                            <span ng-if="model.followed" class="label label-danger">
                                <a class="follow-button" ng-click="model.unfollowUser()">Unfollow</a>
                            </span>
                            <span ng-if="!model.followed" class="label label-success">
                                <a class="follow-button" ng-click="model.followUser()">follow</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.user._id}}" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>