.about {
    margin-top: 5%;
    /*padding: 40px 15px;*/
    text-align: center;
    background-image: url("/images/bg1.jpg");
}

.img-circle {
    border-radius: 30%;
    width: 50%;
}

.img-responsive {
    margin: 0 auto;
}

form div label {
    margin-bottom: 0px;
}

/*form div textarea {*/
    /*margin-bottom: 5px;*/
/*}*/

body {
    /*padding-top: 60px;*/
    /*padding-bottom: 60px;*/
    overflow-y: auto;
    overflow-x: hidden;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.navbar-footer {
    width: 100%;
    height: 10%;
}

.navbar-header {
    width : 100%;
    height: 10%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
}
.navbar-brand {
    cursor: pointer;
}
div.form-group {
    margin-bottom: 0px;
}

.list-group-item{
    border-color: white;
}

span a.navbar-brand {
    width:100%;
    height:15px;
    font-size: medium;
}

a:hover {
    text-decoration: none;
}

.links{
    margin-top: 10%;
}
.img-circle {
    border-radius: 45%;
    width: 50%;
}

.img-responsive {
    margin: 0 auto;
}

h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
    font-family: 'PT-Sans-Italic';
    font-size: 100%;
    /*background:#fff;*/
    background:#c4e3f3;
}
@font-face {
    font-family: 'MarkoOne-Regular';
    src:url(../fonts/MarkoOne-Regular.ttf) format('truetype');
}
@font-face {
    font-family:  'PT-Sans-Italic';
    src:url(../fonts/PT-Sans-Italic.ttf) format('truetype');
}
a {
    text-decoration: none;
}
a:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
/*--start-header here--*/
nav a {
    position: relative;
    display: inline-block;
    outline: none;
    color: #000;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em;
    font-family: 'MarkoOne-Regular';
}

nav a:hover,
nav a:focus {
    outline: none;
}
/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
.header{
    background: url(../images/bg-image1.jpg)no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:800px;
    position:relative;
}
.header-top {
    padding: 2em 0em;
}
span.menu {
    display: none;
}
/*--search--*/
.search {
    float: left;
}
.search a {
    font-size:1.3em;
    color:#1c1c1c;
    text-decoration:none;
    outline:none;
}
.search a i{
    width: 26px;
    height: 26px;
    background: url(../images/magi.png)no-repeat;
    display:inline-block;
    vertical-align: middle;
    margin: 0 4px 0 0;
}
/*--search--*/
.top-navg {
    float:right;
}
.top-navg ul.res {
    padding: 0px;
    list-style: none;
}
.top-navg ul.res li {
    display: inline-block;
    background: cadetblue;
}
.top-navg ul.res li a {
    padding:0em 0.5em 0em 0.5em;
    display: block;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}
.top-navg ul.res li a:hover {
    color:#000;
    text-decoration:none;
}
.banner{
    text-align:center;
    padding:15em 0 5em;
    margin-top: -45px;
}
.banner h1{
    font-size:3em;
    font-family: 'MarkoOne-Regular';
    color: #FFFFFF;
}
.banner p {
    color: #FFFFFF;
    font-size: 1.1em;
    line-height: 1.8em;
    width: 50%;
    margin: 0 auto;
    font-style: italic;
}
.header span.mover {
    background: url(../images/mover.png)no-repeat 0px 0px;
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    bottom: -5%;
    left: 48%;
    z-index: 1;
}
/*--header end here--*/
/*--about start here--*/
.about {
    padding: 1em 0em 1em 0em;
}
/*--about end here--*/
/*--we aer start here--*/
.weare-main{
    text-align:center;
    padding:1em 0em 1em 0em;
}
.weare-main h2 {
    color: #000;
    font-size: 2.2em;
    font-weight: 700;
    font-family: 'MarkoOne-Regular';
}
.weare-main p {
    color: #999;
    font-size: 1.1em;
    font-style: italic;
    line-height: 1.8em;
    margin: 1em auto 0em;
    width: 80%;
}
.weare {
    padding:1em 0em 0em 0em;
}
.poll {
    margin-bottom: 2em;
}
.poll_desc{
    color: #777;
    font-size: 1.1em;
    font-style: italic;
}

.poling{
    text-align: center;
}
.weare-right h3 {
    text-align: center;
    font-size: 1.5em;
    color: #000;
    font-weight: 600;
}
.wedo{
    background:#fff;
    padding:1em 0em 1em 0em;
}
.wedo-main h3 {
    color: #000;
    font-size: 2.2em;
    font-weight: 700;
    font-family:'MarkoOne-Regular';
}
.wedo-grid {
    text-align: center;
}
.wedo-main {
    text-align: center;
    /*padding: 1em 0em 1em 0em;*/
}
span.glyphicon.glyphicon.glyphicon-time {
    font-size: 3.5em;
    display: block;
}
span.glyphicon.glyphicon.glyphicon-off {
    font-size: 3.5em;
    display: block;
}
span.glyphicon.glyphicon.glyphicon-user {
    font-size: 3.5em;
    display: block;
}
.wedo-grid:hover span.glyphicon.glyphicon.glyphicon-time{
    color:cadetblue;
}
.wedo-grid:hover span.glyphicon.glyphicon.glyphicon-off{
    color:cadetblue;
}
.wedo-grid:hover span.glyphicon.glyphicon.glyphicon-user{
    color:cadetblue;
}
.wedo-grid h4{
    font-size:1.2em;
    margin:1em 0 0.5em;
}
.wedo-grid h4 a{
    color:#333;
    text-transform:uppercase;
    font-weight:bold;
}
.wedo-grid:hover h4 a{
    color:cadetblue;
    text-decoration:none;
}
.wedo-grid p{
    color: #555;
    font-size: 1em;
    line-height: 1.5em;
    width: 85%;
    margin: 0 auto;
    font-style: italic;
}
/*--assignment--**/
.assignment{
    padding: 1em 0em 1em 0em;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}
.assignment-top {
    text-align: center;
    padding: 1em 0em 1em 0em;
}
.assignment-bottom {
    text-align: center;
    padding: 1em 0em 1em 0em;
}
.assignment-top h3 {
    color: #000;
    font-size: 2.2em;
    font-weight: 700;
    font-family:'MarkoOne-Regular';
}

a.mask {
    text-decoration: none;
    overflow: hidden;
    display: block;
}
img.zoom-img:hover {
    -webkit-transform: scale(1.15);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 750ms;
    -moz-transform: scale(1.15);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 750ms;
    overflow: hidden;
}
.contact{
    padding: 1em 0em 1em 0em;
}
.footer_bottom{
    background:#dcd9ae;
}
.contact-top {
    text-align: center;
    padding: 1em 0em 1em 0em;
}
.contact-top h3 {
    color: #000;
    font-size: 2.2em;
    font-weight: 700;
    font-family: 'MarkoOne-Regular';
}
.contact-bottom input[type="text"] {
    font-size: 1em;
    color: #8C8C8C;
    outline: none;
    width: 49.1%;
    margin: 0em 0em 1em 0em;
    border: 1px solid #999;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.contact-bottom input.name {
    margin: 0em 1em 0em 0em;
}
.contact-bottom textarea {
    font-size: 1em;
    color: #8C8C8C;
    outline: none;
    width: 100%;
    height:10em;
    resize:none;
    border: 1px solid #999;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.contact-bottom input[type="submit"] {
    font-size: 1em;
    color: #fff;
    padding: 0.4em 1em 0.4em 1em;
    background: cadetblue;
    border: none;
    width: 8%;
    outline: none;
    margin:0.6em 0em 0em 0em;
}
.contact-bottom input[type="submit"]:hover {
    background: #000;
}
.map {
    background: #ECECEC;
}
.map iframe {
    border: none;
    width: 100%;
    height: 300px;
}
.social {
    padding: 1.4em 0em;
    text-align: center;
    background: cadetblue;
}
.social ul {
    padding: 0em;
    list-style:none;
}
.social ul li{
    display:inline-block;
    margin: 0em 0.4em 0.5em 0em;
}
.social ul li span.fa {
    background-position: 0px 0px;
}
.social ul li span.tw {
    background-position: -34px 0px;
}
.social ul li span.g {
    background-position: -68px 0px;
}
.social ul li span.in {
    background-position: -102px 0px;
}
.social ul li span.fa:hover {
    background-position: 0px -34px;
}
.social ul li span.tw:hover {
    background-position: -34px -34px;
}
.social ul li span.g:hover {
    background-position: -68px -34px;
}
.social ul li span.in:hover {
    background-position: -102px -34px;
}
.social ul li span{
    background:url(../images/ftr-icons.png)no-repeat;
    width:32px;
    height:32px;
    display:block;
}
.social p {
    font-size: 1em;
    font-weight: 400;
    color: #fff;
}
.social p a{
    color:#000;
}
.social p a:hover{
    text-decoration:none;
    color:#fff;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 0px;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: none;
    text-indent: 100%;
    background: url(../images/top_mover.png) no-repeat 0px 0px;
}
/*--responsive design--*/
@media(max-width:1440px){

}
@media(max-width:1366px){

}
@media(max-width:1280px){
    .header {
        min-height: 630px;
    }
}
@media(max-width:1024px){
    .header {
        min-height: 500px;
    }
    .banner {
        padding: 7em 0 5em;
    }
    .poll {
        margin-bottom: 1em;
    }
    .contact-bottom input.name {
        margin: 0em 0.7em 0em 0em;
    }
    .wedo-grid p {
        font-size: 0.95em;
        width: 100%;
    }
    .weare {
        padding: 1em 0em 1em 0em;
    }
    .wedo {
        padding: 1em 0em 1em 0em;
    }
    .assignment {
        padding: 1em 0em 1em 0em;
    }
    .contact {
        padding: 1em 0em 1em 0em;
    }
}
@media(max-width:768px){
    span.menu{
        display: block;
        text-align:right;
        padding: 1px 0px 0px 0px;
        cursor: pointer;
        color: #E74C3C;
        font-size: 16px;
        font-weight: 700;
        position:relative;
    }
    .top-navg ul.res{
        display:none;
        padding:0px;
    }
    .top-navg ul.res {
        padding: 0;
        margin: 0.5em 0em 0em 0em;
        z-index: 9999;
        position: absolute;
        width: 100%;
        left:0;
    }
    .top-navg ul.res li{
        display: block;
        text-align: center;
        background:cadetblue;
        margin: 0;
        width: 100%;
    }
    .top-navg ul.res li a {
        font-size: 16px;
        padding: 0.5em 1em;
        color: #fff;
        display: inline-block;
        border: none;
        background: none;
        text-align: center;
        margin: 0em;
    }
    ul.res  a:hover,ul.res li a.active{
        color:#000;
    }
    .banner p {
        font-size: 1em;
        width: 80%;
    }
    .header {
        min-height: 400px;
    }
    .banner {
        padding: 4em 0 0em;
    }
    .banner h1 {
        font-size: 2.5em;
    }
    .weare-main p {
        font-size: 1em;
        width: 100%;
        margin: 0.5em auto 0em;
    }
    .weare-left {
        width: 60%;
        margin: 0 auto;
    }
    .weare-left {
        width: 60%;
        margin: 0em auto 2em;
    }
    .weare-main h2 {
        font-size: 1.9em;
    }
    .wedo-main h3 {
        font-size: 1.9em;
    }
    .wedo-grid {
        margin: 0em 0em 1em 0em;
    }
    .assignment-top h3 {
        font-size: 1.9em;
        margin-bottom: auto;
    }
    .assignment-top {
        padding: 1em 0em 1em 0em;
    }

    .contact-top h3 {
        font-size: 1.9em;
        margin-bottom: auto;
    }
    .contact-bottom input.name {
        margin: 0em 0.5em 0em 0em;
    }
    .contact-bottom input[type="submit"] {
        font-size: 0.9em;
        width: 10%;
    }
    h2.b-animate.b-from-left.b-delay03 {
        padding-top: 4em
    }
    h2.b-animate.b-from-left.b-delay03 img {
        width: 15%;
    }
}
@media(max-width:640px){
    .banner h1 {
        font-size: 2.2em;
    }
    .banner p {
        font-size: 1em;
        width: 95%;
    }
    .header {
        min-height: 350px;
    }
    .banner {
        padding: 1em 0em 1em 0em;
    }
    .wrapper {
        width: 100%;
    }
    .contact-bottom input[type="text"] {
        width: 48.9%;
    }
    h2.b-animate.b-from-left.b-delay03 {
        padding-top: 3em;
    }
    .map iframe {
        height: 250px;
    }
}
@media(max-width:480px){
    span.menu img {
        width: 82%;
        padding-right: 0.5em
    }
    .banner h1 {
        font-size: 1.6em;
    }
    .banner {
        padding: 1.5em 0 0em;
    }
    .header {
        min-height: 305px;
    }
    .banner p {
        font-size: 0.95em;
        width: 100%;
    }
    .weare-main h2 {
        font-size: 1.7em;
    }
    .weare {
        padding: 1em 0em 0em 0em;
    }
    .weare-main p {
        font-size: 0.9em;
    }
    .weare-left {
        width: 90%;
        padding: 0px;
    }
    .weare-main {
        padding: 1em 0em 0em 0em;
    }
    .weare-right {
        text-align: center;
        padding: 0px;
    }
    .about {
        padding: 1em 0em 1em 0em;
    }
    .portfolio-wrapper {
        padding: 0px 10px 0px 0px;
    }
    .wedo {
        padding: 1em 0em 1em 0em;
    }
    .wedo-main h3 {
        font-size: 1.6em;
        margin-bottom: auto;

    }
    span.glyphicon.glyphicon.glyphicon-user {
        font-size: 2.5em;
    }
    span.glyphicon.glyphicon.glyphicon-time {
        font-size: 2.5em;
    }
    span.glyphicon.glyphicon.glyphicon-off {
        font-size: 2.5em;
    }
    .wedo-grid {
        padding: 0px;
    }
    .wedo-grid p {
        font-size: 0.9em;
    }
    .wedo-grid h4 {
        font-size: 1em;
        margin: 0.5em 0 0.3em;
    }
    .assignment-top h3 {
        font-size: 1.6em;
        margin-bottom: auto;
    }

    .contact-top {
        padding: 1em 0em 1em 0em;
    }
    .contact {
        padding: 1em 0em;
    }
    .contact-bottom input[type="text"] {
        width: 100%;
        font-size: 0.85em;
    }
    .contact-bottom input.name {
        margin: 0em 0em 0.8em 0em;
    }
    .contact-bottom textarea {
        font-size: 0.85em;
        height: 8em
    }
    .contact-bottom input[type="submit"] {
        width: 15%;
    }
    .map iframe {
        height: 175px;
    }
}
@media(max-width:320px){
    .header-top {
        padding: 1em 0em 1em 0em;
    }
    .banner h1 {
        font-size: 1.3em;
        margin: 0em 0em 0.1em 0em;
    }
    .banner p {
        font-size: 0.8em;
    }
    .banner {
        padding: 0.7em 0 0em;
    }
    .header {
        min-height: 200px;
    }
    .weare-main h2 {
        font-size: 1.3em;
        margin: 0em;
    }
    .weare-main p {
        font-size: 0.8em;
        margin: 0em;
    }
    .weare-left {
        width: 100%;
    }
    .weare-main {
        padding: 1em 0em 1em 0em;
    }
    .weare-left {
        margin: 0em auto 1em;
    }
    .weare-right h3 {
        text-align: center;
        font-size: 1.1em;
    }
    .poll_desc {
        font-size: 0.95em;
    }
    .poll {
        margin-bottom: 0.8em;
    }
    h2.b-animate.b-from-left.b-delay03 {
        padding-top: 1.5em;
    }
    .wedo-main h3 {
        font-size: 1.3em;
    }
    .wedo {
        padding: 1em 0em 1em 0em;
    }
    .wedo-main h3 {
        font-size: 1.3em;
        margin: 0em 0em 0em 0em;
    }
    .wedo-grid p {
        font-size: 0.79em;
    }
    span.glyphicon.glyphicon.glyphicon-user {
        font-size: 2em;
    }
    span.glyphicon.glyphicon.glyphicon-time {
        font-size: 2em;
    }
    span.glyphicon.glyphicon.glyphicon-off {
        font-size: 2em;
    }
    .wedo-grid {
        margin: 1em 0em 1em 0em;
    }
    .assignment-top h3 {
        font-size: 1.3em;
        margin: 0em;
    }
    .assignment-top {
        padding: 1em 0em 1em 0em;
    }
    .contact-top h3 {
        font-size: 1.3em;
        margin: 0em 0em 0.1em 0em;
    }
    .contact-top {
        padding: 1em 0em 1em 0em;
    }
    .contact-bottom input[type="submit"] {
        width: 22%;
    }
    .social p {
        font-size: 0.9em;
    }
    .top-navg ul.res li a {
        font-size: 12px;
    }
}

.bg {
    background-color: white;
}