input.form-control {
    margin-bottom: 1%;
    border-color: black;
}

.form-center{
    margin-top : 20%;
}

.user-info{
    color: dodgerblue!important;
}
input.form-review {
    margin-bottom: 1%;
    border-color: black;
    margin-left: 3%;
}

textarea.form-review {
    margin-bottom: 1%;
    border-color: black;
    margin-left: 3%;
}

button.form-review {
    margin-bottom: 1%;
    border-color: black;
    margin-left: 3%;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    border-color: black;
}

.media-object {
    width : 40%;
    display: block;
    margin: auto;
}

.media-middle{
    display: block;
    margin: auto;
    width: 40%;
}

.price{
    display: block;
    margin: auto;
    margin-top: 2%;
}

.product-name {
    width:100%;
}

.login {
    display: inline-block;
    width: 40%;
    margin-left: 3%;
    margin-right: 4%;
    margin-top: 5%;
}
button.upload-image{
    margin-bottom: 1%!important;
}

.input-group{
    margin-bottom: 2%;
    margin-top: 0%;
}
.container .jumbotron{
    background-color: #f9ae54!important;
    opacity: 0.8;
}

.jumbotron{
    background-color: aliceblue!important;
}

form div label {
    margin-bottom: 0px;
}

form div textarea {
    margin-bottom: 5px;
}

body {

    padding-top: 60px;
    padding-bottom: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.navbar-footer {
    width: 100%;
    height: 10%;
}

.navbar-header {
    width : 100%;
    height: 10%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.list-group .search{
    padding:1px;
    border:1px solid #021a40;
}
.thumbnail {
    align-content: center;
    background-color: white;
    margin: 1% 1% 1% 5%;
    display: flex;
    width: 90% !important;
    border-color: black;

}

.tab-css {
    margin-bottom: 3%!important;
}
.username {
    width :100%;
}

.cat-image{
    width: 10%;
    display: block;
    margin: auto;
}

.dropdown-menu>li>a {
    padding: 2px 59px!important;
}

.meta-search {
    margin-bottom: 0px;
}

.thumbnail>img {
    width: 50%!important;
}

.jga-widget {
    margin-bottom: 5px;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
    z-index: 2;
}

.custom-btn-group {
    margin-top: 5px;
}
.navbar-brand {
    cursor: pointer;
}

div.form-group {
    margin-bottom: 0px;
}

.list-group-item{
    border-color: white;
}

span a.navbar-brand {
    width:100%;
    height:15px;
    font-size: medium;
}

a:hover {
    text-decoration: none;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.red, .red a {
    color: red;
}

.blue, .blue a {
    color: #0073b7;
}

.green, .green a {
    color: green;
}

.del-review {
    padding-right: 50%;
    padding-top: 15%;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: ghostwhite;
    margin-top: 10%!important;
    /*style="background-image: url('images/shop.jpg');"*/
}
.nav-bar {
    margin-top: -8%;
    width: 100%;
}
.nav-container {
    overflow: hidden;
    margin: 2.95% auto;
}
.nav-menu {
    align-content: center;
    display: none;
}
nav.nav-bar ul {
    list-style: none;
}
.nav-list {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
.nav-list li {
    float: left;
    width:12.5%;
}
.nav-list li a {
    display: block;
    color: #f9f9f9;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    padding: 30px 30px;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.nav-list li a:hover {
    -webkit-filter: brightness(1.3);
    /*padding-top: 80px ;*/
}
#tile1 {
    background:#00ced7
}
#tile2 {
    background:#00bbc3
}
#tile3 {
    background:#00a8af
}
#tile4 {
    background:#00959c
}
#tile5 {
    background:#00889c
}
#tile6 {
    background:#007b9c
}
#tile7 {
    background:#006e9c
}
#tile8 {
    background:#005c83
}
@media screen and (max-width: 480px) {

    .nav-menu {
        color: #fff;
        float: left;
        display: block;
        padding: 10px 10px;
        cursor: pointer;
    }

    .nav-list {
        float: left;
        width: 100%;
        height: 2%;
    }

    .nav-open {
        height: auto;
    }

    .nav-list li {
        width: 100%
    }

    .nav-list li a {
        text-align: left;
    }

    .nav-list li a:hover {
        padding-left: 36%;
        /*padding-top: 30px;*/
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav-container,.container {
        margin: 8% auto;
    }
    .nav-list li {
        float: inherit;
        width: 50%;
        height: 10%;
    }
    .nav-list li a:hover{
        padding-right: 40%;
        padding-top: 30px ;
    }
}

.follow-button {
    color: white !important;
    cursor: pointer;
}

.follow-button:hover {
    text-decoration: none;
}

.logo>img {
    width: 70%;
    margin-left: -10px;
}

.font-custom{
    float: left!important;
    height: 50px!important;
    font-weight: 600;
    padding: 15px 0px!important;
    font-size: 15px!important;
    line-height: 15px!important;
}

.main-container {
}
.skyblue {
    background-color: #22c8ff;
}
.deepskyblue {
    background-color: #00bfff;
}
.darkerskyblue {
    background-color: #00a6dd;
}
.carousel-indicators {
    bottom: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}
.carousel .item {
    min-height: 350px;
    height: 100%;
    width:100%;
}
.carousel-caption h3,
.carousel-caption h4,
.carousel .icon-container,
.carousel-caption button {
    background-color: #09c;
}
.carousel-caption h3,
.carousel-caption h4{
    padding: .5em;
}
.carousel .icon-container {
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    padding: 1em;
    text-align: center;
    border-radius: 50%;
}
.carousel-caption button {
    border-color: #00bfff;
    margin-top: 1em;
}

.p {
    padding-top: 125px;
    text-align: center;
}

.p a {
    text-decoration: underline;
}

.navbar-home{
    opacity: 1;
}

.navbar-home .navbar-brand{
    opacity: 1;
}

.navbar-brand>img{
    width: 15%;
}

.navbar-brand>p{
    float: right;
}

.col-lg-12>img{
    width: 100%;
    float: top;
    margin: 5px;
    padding-top: 12px;
    position: relative;
}

.col-lg-12>h1{
    float: left;
    position: relative;
}

.col-lg-12>p{
    float: bottom;
    position: relative;
}

.alert-warning{
    background-color: #ecb573;
}

.home-img {
    width:100%;
}