<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <h1>Register</h1>
    <input ng-model="model.user.username"
           type="text"
           id="usernameInput"
           class="form-control"
           placeholder="*Username" required/>
    <input ng-model="model.user.password"
           type="password"
           id="passwordInput"
           class="form-control"
           placeholder="password" required/>
    <input ng-model="model.user.verifyPassword"
           type="password"
           id="verifyPasswordInput"
           class="form-control"
           placeholder="verify password" required/>
    <a ng-click = "model.createUser(model.user)"
            class="btn btn-primary btn-block">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/login">Cancel</a>
</div>