<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <!--<div  ng-repeat="widget in model.widgets" class="list-group">-->
        <!--<span>-->
        <!--<a class="navbar-brand" href="#/widget-heading">-->
            <!--{{widget.widgetType}}-->
        <!--</a>-->
    <!--</span>-->
    <!--</div>-->
    <span>
        <a ng-click = "model.redirectTo('header')" class="navbar-brand">
            Header
        </a>
    </span>
        <span>
             <a class="navbar-brand" href="#">
        Label
    </a>
        </span>
        <span>
             <a class="navbar-brand" href="#">
        HTML
    </a>
        </span>
        <span>
             <a class="navbar-brand" href="#">
        Text Input
    </a>
        </span>
        <span>
             <a class="navbar-brand" href="#">
        Link
    </a>
        </span>
        <span>
            <a class="navbar-brand" href="#">
        Button
    </a>
        </span>
        <span>
             <a class="navbar-brand" href="#/views/widget/widget-image.view.client.html">
        Image
    </a>
        </span>
        <span>
             <a class="navbar-brand" href="#/widget-youtube">
        Youtube
    </a>
        </span>
        <span>
            <a class="navbar-brand" href="#">
        Date Table
    </a>
        </span>
        <span>
         <a class="navbar-brand" href="#">
        Repeater
    </a>
    </span>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
