<div class="container">
    <div ng-switch="model.widget.widgetType">
        <div ng-switch-when="HEADER" ng-switch="widget.size">
            <div ng-repeat="widget in widgets" >
                <div ng-switch-when="HEADING" >
                    < ng-include src="'widget-heading.view.client.html'">
                </div>
                <div ng-switch-when="IMAGE" >
                    < ng-include src="'image.view.client.html'">
                </div>
                <div ng-switch-when="YOUTUBE" >
                    < ng-include src="'widget-youtube.view.client.html'">
                </div>
            </div>
        </div>
    </div>
</div>