<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/widget-list" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="list-group">
    <span>
        <a class="navbar-brand" href="#/widget-heading">
            Header
        </a>
    </span>
        <span>
             <a class="navbar-brand" href="#">
        Label
    </a>
        </span>
        <span>
             <a class="navbar-brand" href="#">
        HTML
    </a>
        </span>
        <span>
             <a class="navbar-brand" href="#">
        Text Input
    </a>
        </span>
        <span>
             <a class="navbar-brand" href="#">
        Link
    </a>
        </span>
        <span>
            <a class="navbar-brand" href="#">
        Button
    </a>
        </span>
        <span>
             <a class="navbar-brand" href="#/widget-image">
        Image
    </a>
        </span>
        <span>
             <a class="navbar-brand" href="#/widget-youtube">
        Youtube
    </a>
        </span>
        <span>
            <a class="navbar-brand" href="#">
        Date Table
    </a>
        </span>
        <span>
         <a class="navbar-brand" href="#">
        Repeater
    </a>
    </span>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/profile" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
