<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <div ng-repeat="widgetType in model.widgetTypes" class="list-group">
        <span>
        <a class="navbar-brand" ng-click = "model.createWidget(widgetType.text)">
            {{widgetType.text}}
        </a>
    </span>
    </div>
    <!--<span>-->
    <!--<a ng-click = "model.createWidget('HEADER')" class="navbar-brand">-->
    <!--Header-->
    <!--</a>-->
    <!--</span>-->
    <!--<span>-->
    <!--<a ng-click = "model.createWidget('LABEL')" class="navbar-brand">-->
    <!--Label-->
    <!--</a>-->
    <!--</span>-->
    <!--<span>-->
    <!--<a ng-click = "model.createWidget('HTML')" class="navbar-brand">-->
    <!--HTML-->
    <!--</a>-->
    <!--</span>-->
    <!--<span>-->
    <!--<a ng-click = "model.createWidget('TEXT INPUT')" class="navbar-brand">-->
    <!--Text Input-->
    <!--</a>-->
    <!--</span>-->
    <!--<span>-->
    <!--<a ng-click = "model.createWidget('LINK')" class="navbar-brand">-->
    <!--Link-->
    <!--</a>-->
    <!--</span>-->
    <!--<span>-->
    <!--<a ng-click = "model.createWidget('BUTTON')" class="navbar-brand">-->
    <!--Button-->
    <!--</a>-->
    <!--</span>-->
    <!--<span>-->
    <!--<a ng-click = "model.createWidget('IMAGE')"-->
    <!--class="navbar-brand">-->
    <!--Image-->
    <!--</a>-->
    <!--</span>-->
    <!--<span>-->
    <!--<a ng-click = "model.createWidget('YOUTUBE')"-->
    <!--class="navbar-brand">-->
    <!--Youtube-->
    <!--</a>-->
    <!--</span>-->
    <!--<span>-->
    <!--<a ng-click = "model.createWidget('DATA TABLE')" class="navbar-brand">-->
    <!--Date Table-->
    <!--</a>-->
    <!--</span>-->
    <!--<span>-->
    <!--<a ng-click = "model.createWidget('REPEATER')" class="navbar-brand">-->
    <!--Repeater-->
    <!--</a>-->
    <!--</span>-->
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-user">
                  </span>
                </a>
            </p>
        </div>
    </div>
</nav>
